<?xml version="1.0" encoding="UTF-8"?>
<settings xmlns="http://maven.apache.org/SETTINGS/1.0.0" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.0.0 http://maven.apache.org/xsd/settings-1.0.0.xsd">
    <servers>
        <server>
            <id>metretail-release</id>
            <username>metretail-ci-user</username>
            <password>AP8XPJdAwENoVEJUjdHgofa9q7D</password>
        </server>
        <server>
            <id>metretail-snapshots</id>
            <username>metretail-ci-user</username>
            <password>AP8XPJdAwENoVEJUjdHgofa9q7D</password>
        </server>
    </servers>
    <profiles>
        <profile>
            <id>dev</id>
            <repositories>
                <repository>
                    <url>https://mmi-artifactory.mmih.biz/artifactory/metretail-releases</url>
                    <snapshots>
                        <enabled>false</enabled>
                    </snapshots>
                    <releases>
                        <enabled>true</enabled>
                    </releases>
                    <id>metretail-release</id>
                    <name>release</name>
                </repository>
                <repository>
                    <url>https://mmi-artifactory.mmih.biz/artifactory/metretail-snapshots</url>
                    <snapshots>
                        <enabled>true</enabled>
                    </snapshots>
                    <releases>
                        <enabled>false</enabled>
                    </releases>
                    <id>metretail-snapshots</id>
                    <name>snapshots</name>
                </repository>
                <repository>
                    <url>https://repo1.maven.org/maven2</url>
                    <releases>
                        <enabled>true</enabled>
                    </releases>
                    <snapshots>
                        <enabled>true</enabled>
                    </snapshots>
                    <id>central</id>
                </repository>
                <repository>
                    <id>zendesk-sunshine-conversations</id>
                    <url>https://smoochorg.bintray.com/maven/</url>
                </repository>
            </repositories>
        </profile>
    </profiles>
    <activeProfiles>
        <activeProfile>dev</activeProfile>
    </activeProfiles>
</settings>
